body {
    background-color: #1b2421;
    font-family: "Jost", sans-serif;
    color: #fbfada;
    width: 100vh;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.layanan {
    background-color: #2a332e;
    border: 1px solid;
    border-color: #fbfada;
    color: #fbfada;
}

.fasilitas {
    background-color: #2a332e;
    border: 1px solid;
    border-color: #fbfada;
    color: #fbfada;
}

.nav-btn {
    text-decoration: none;
    flex-grow: 1;
    color: #fbfada;
    display: block;
}

.nav-btn div {
    background-color: #2a332e;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.nav-btn:hover div {
    background-color: #fbfada;
    color: #2a332e;
}

.nav-btn.active div {
    background-color: #fbfada;
    color: #2a332e;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
}

.laporan {
    --bs-table-striped-bg: #444e45;
}

.laporan > tbody > tr > td {
    background-color: #374139;
    color: #fbfada;
    font-size: 10pt;
}

.laporan > thead > tr > th {
    background-color: #374139;
    color: #fbfada;
    font-size: 10pt;
}

.lap-page .page-link {
    background-color: var(--pagination-bg, #374139);
    color: var(--pagination-color, #fbfada);
    border-color: var(--pagination-bg, #374139);
    transition: background-color 0.3s, color 0.3s;
}

.lap-page .page-link:hover {
    background-color: darken(var(--pagination-bg, #374139), 10%);
    color: var(--pagination-color-hover, #ffffff);
}

.lap-page .page-item.active .page-link {
    background-color: var(--pagination-active-bg, #adbc9f);
    color: var(--pagination-active-color, #ffffff);
    border-color: var(--pagination-active-bg, #adbc9f);
    font-weight: bold;
    border-radius: 15%;
}

.lap-page .page-item.active .page-link:hover {
    background-color: var(--pagination-active-bg, #fbfada);
    color: var(--pagination-active-color, #000000);
}

table.laporan td,
table.laporan th {
    padding-left: 20px !important;
}

#entries-select {
    background-color: #fbfada;
    color: #374139;
    border: none;
}

.input-group .form-control {
    background-color: #fbfada;
    color: #374139;
    border: none;
}

.input-group .form-control::placeholder {
    color: #6b6b6b;
}

.input-group .input-group-text {
    background-color: #fbfada;
    color: #374139;
    border: none;
}

/* Sidebar Styling */
.offcanvas {
    background-color: #2a332e;
    max-width: 60vw;
}

.offcanvas-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fbfada;
}

.nav-link {
    color: #fbfada;
    font-size: 14px;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link i {
    margin-right: 0.5rem;
}

.nav-link:hover {
    background-color: #374139;
    color: #fbfada;
}

.nav-link.fw-bold {
    background-color: #fbfada;
    color: #2a332e;
}

.scrollable-layanan::-webkit-scrollbar {
    width: 2px;
    height: 0px;
}

.scrollable-layanan::-webkit-scrollbar-thumb {
    background-color: #fbfada;
    border-radius: 4px;
}

.scrollable-layanan::-webkit-scrollbar-track {
    background-color: #2a332e;
}

.list-custom {
    background-color: #374139;
    border-radius: 5px;
}

.list-custom .list-group-item {
    background-color: #2a332e;
    color: #fbfada;
    border-color: #fbfada;
}

.list-custom .list-group-item:hover {
    background-color: #fbfada;
    color: #2a332e;
}

.hover-effect {
    background-color: #2a332e;
    color: #fbfada;
    transition: background-color 0.3s, color 0.3s;
}

.hover-effect:hover {
    background-color: #fbfada;
    color: #2a332e;
}

.informasi-masjid table {
    border-radius: 8px;
    overflow: scroll;
    --bs-table-striped-bg: #444e45;
}

.informasi-masjid > table > tbody > tr > td {
    background-color: #374139;
    color: #fbfada;
    font-size: 10pt;
}

.informasi-masjid > table > thead > tr > th {
    background-color: #374139;
    color: #fbfada;
    font-size: 10pt;
}

.informasi-masjid::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.btn-shodaqoh {
    background-color: #fbfada;
    color: #374139;
    border: none;
}

.btn-shodaqoh:hover {
    background-color: #374139;
    color: #fbfada;
}

.kegiatan {
    overflow: scroll;
    --bs-table-striped-bg: #444e45;
}

.kegiatan > tbody > tr > td {
    background-color: #374139;
    color: #fbfada;
    font-size: 10pt;
}

.kegiatan > thead > tr > th {
    background-color: #374139;
    color: #fbfada;
    font-size: 10pt;
}

.btn-kegiatan {
    background-color: #fbfada;
    color: #374139;
    border: none;
}

.btn-kegiatan:hover {
    background-color: #374139;
    color: #fbfada;
}

.modal-content {
    background-color: #2a332e;
    color: #fbfada;
}

.accordion-button {
    background-color: #2a332e;
    color: #fbfada;
    border: none;
}

.accordion-button:not(.collapsed) {
    background-color: #fbfada;
    color: #2a332e;
    font-weight: bold;
}

.accordion-button:hover {
    background-color: #374139;
    color: #fbfada;
}

.accordion-body {
    background-color: #374139;
    color: #fbfada;
    border-top: 1px solid #fbfada;
}

.darken-image {
    filter: brightness(70%); /* Mengurangi kecerahan menjadi 50% */
}

.scrollable-tabel {
    max-height: 45vh;
    overflow-y: scroll;
}

.scrollable-tabel::-webkit-scrollbar-thumb {
    background-color: #fbfada;
}

.scrollable-tabel::-webkit-scrollbar {
    width: 2px;
}

.btn-collapse {
    background-color: transparent; 
    border: 1px solid #FBFADA; 
    color: #FBFADA;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.btn-collapse:hover {
    background-color: #FBFADA; 
    color: #2A332E;
}

.accordion-collapse.show .btn-collapse {
    background-color: #FBFADA;
    color: #2A332E; 
    border-color: #FBFADA; 
}

.card-scroll::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.card-scroll::-webkit-scrollbar-thumb {
    background-color: #fbfada;
}

@media (max-width: 767.98px) {
    /* Untuk layar lebih kecil dari sm */
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .custom-height {
        height: 60%;
    }

    .main-content {
        height: 100vh;
    }

    .card-content {
        display: flex;
        margin-top: 4px;
        flex-direction: column-reverse !important;
        height: 100%;
    }

    .scrollable-fasilitas {
        max-height: 34vh;
        overflow-y: auto;
        margin-top: 5px;
    }

    .scrollable-fasilitas::-webkit-scrollbar {
        width: 2px;
        height: 0px;
    }

    .scrollable-fasilitas::-webkit-scrollbar-thumb {
        background-color: #fbfada;
        border-radius: 4px;
    }

    .scrollable-fasilitas::-webkit-scrollbar-track {
        background-color: #2a332e;
    }

    .scrollable-layanan {
        max-height: 13vh;
        overflow-y: auto;
    }

    .scrollable-kegiatan {
        max-height: 250px;
        overflow-y: auto;
        margin-top: 5px;
    }

    .scrollable-kegiatan::-webkit-scrollbar {
        width: 2px;
    }

    .scrollable-kegiatan::-webkit-scrollbar-thumb {
        background-color: #fbfada;
        border-radius: 4px;
    }

    .scrollable-kegiatan::-webkit-scrollbar-track {
        background-color: #2a332e;
    }

    .scrollable-shodaqoh {
        max-height: 250px;
        overflow: auto;
        padding-right: 10px;
        margin-top: 5px;
    }

    .scrollable-shodaqoh::-webkit-scrollbar {
        width: 2px;
        height: 0px;
    }

    .scrollable-shodaqoh::-webkit-scrollbar-thumb {
        background-color: #fbfada;
    }

    .scrollable-tabel {
        max-height: 200px;
        overflow-y: scroll;
    }

    .informasi-masjid {
        max-height: 31vh;
        overflow-y: scroll;
    }

    .kegiatan > tbody > tr > td {
        font-size: 13pt;
    }

    .kegiatan > thead > tr > th {
        font-size: 13pt;
    }
    
    .card-info{
        max-height: 45vh;
        overflow-y: scroll;
    }

    .card-jadwal{
        max-height: 28vh;
        overflow-y: scroll;
    }
}

@media (min-width: 768px) {

    body{
        height: 100vh;
    }
    .custom-height {
        height: 100%;
    }

    .main-content {
        height: 73vh;
    }

    .scrollable-layanan {
        max-height: 190px;
        overflow-y: auto;
        margin-top: 5px;
    }

    .informasi-masjid {
        max-height: 45vh;
        overflow-y: scroll;
    }

    .card-info{
        max-height: 28vh;
        overflow-y: scroll;
    }
}
